{% load static %}
<section>
    <div class="row">
        <div class="d-flex justify-content-center mt-5">
            <h2 class="text-white"> Validations forms</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
            <div class="card mb-5 bg-secondary p-5">
                <form id="main_form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name" required>
                        
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="last_name" aria-describedby="last_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="occupation" class="form-label">Occupation</label>
                        <input type="text" class="form-control" id="occupation" required>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="check">
                        <label class="form-check-label" for="check">Check me out</label>
                        <div id="emailHelp" class="form-text">Optional Field</div>
                    </div>
                    <button type="submit" class="btn btn-secondary disabled">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>

</section>
{% block script %}
<script>
    inputs = ["name", "last_name", "occupation"]
    $('#main_form input[required]').on(()=>{
        console.log(this)
    })
    console.log("required fields: ")
</script>
{% endblock %}