{% load static %}
<header id="head_menu">
    <div href="#" class="contextual-menu" > 

        <span></span>
        <span></span>
        <span></span>
        <span></span>
        {% comment %} <img src="{% static 'img/logo.png' %}"> {% endcomment %}
    </div>
    {% comment %} <ul class="mjt-navigation">
        <li><a href="#"><ion-icon name="logo-python"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-react"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-vue"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="document-attach-outline"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="person-add-outline"></ion-icon></a></li>
    </ul> {% endcomment %}
    {% comment %} <!--div class="mjt-search">
        <input type="text" placeholder="Buscar">
        <ion-icon class="mjt-search-icon" name="search-outline"></ion-icon>
    </div--> {% endcomment %}
{% comment %} <button class="mjt-btn-menu">
    <ion-icon name="apps"></ion-icon>
</button> {% endcomment %}
</header>

