{% load static %}
<style>

    
</style>
<header>
    <a href="#" class="mjt-logo" > 
        <img src="{% static 'img/foto.png' %}" style="border-radius:50%;" width="50" height="50" />
        <img src="{% static 'img/logo.png' %}">
    </a>
    <!--ul class="mjt-navigation">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Portafolio</a></li>
        <li><a href="#">Habilidades</a></li>
        <li><a href="#">Conoceme</a></li>
        <li><a href="#">Contacto</a></li>
    </ul-->
    <!--div class="mjt-search">
        <input type="text" placeholder="Buscar">
        <ion-icon class="mjt-search-icon" name="search-outline"></ion-icon>
    </div-->
{% comment %} <button class="mjt-btn-menu">
    <ion-icon name="apps"></ion-icon>
</button> {% endcomment %}
</header>
