{% load static %}
<div class="mjt-main">
    <div class="mjt-navigation">
        <span style="--i:0;--x:-1;--y:0;">
            <ion-icon name="barbell"></ion-icon>
        </span>
        <span style="--i:1;--x:1;--y:0;">
            <ion-icon name="camera"></ion-icon>
        </span>
        <span style="--i:2;--x:0;--y:-1;">
            <ion-icon name="cog"></ion-icon>
        </span>
        <span style="--i:3;--x:0;--y:1;">
            <ion-icon name="code-working"></ion-icon>
        </span>
        <span style="--i:4;--x:-1;--y:1;">
            <ion-icon name="contrast"></ion-icon>
        </span>
        <span style="--i:5;--x:-1;--y:-1;">
            <ion-icon name="extension-puzzle"></ion-icon>
        </span>
        <span style="--i:6;--x:1;--y:-1;">
            <ion-icon name="headset"></ion-icon>
        </span>
        <span style="--i:7;--x:1;--y:1;">
            <ion-icon name="qr-code"></ion-icon>
        </span>
    </div>
    <div class="mjt-close">
        <ion-icon name="close"></ion-icon>
    </div>
</div>
{% block script %}
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}