{% include "../master/index.html" %}
{% load static %}
{% block content %}
<div class="alert alert-success alert-dismissible fade show position-fixed bottom-0 end-0 d-none animate__animated" id="alert" role="alert">
    <strong>Welcome to Mario´s Page!</strong> 
    <button type="button" class="btn-close"   id="close_alert"></button>
</div>

ß
{% include '../sections/login.html' %}
{% include '../sections/form.html' %}
{% include '../sections/iphone.html' %}

{% endblock %}
{% block script %}
<script>
    $('.mjt-island').on('click', function(){
        if($(this).hasClass('active')){
            $(this).removeClass('active')
        }else{
            $(this).addClass('active')
        }
    })
    $("#submit_btn").click(()=>{
        event.preventDefault()
        // user message
        console.log("Do it click in button sign 'in'. THANK YOU!")
        $('#alert').addClass("animate__slideInRight")
        $('#alert').removeClass("d-none")

    })
    $('#close_alert').click(()=>{
        // user message
        console.log('Do it close button alert!')
        $('#alert').addClass("animate__slideOutRight")
        setTimeout(()=>{
            $('#alert').addClass("d-none").removeClass("animate__slideOutRight")
        }, 1000)
    })
</script>
{% endblock %}