{% load static %}
<section class="section">
    <div class="mjt-title-section">
        <h1>Habilidades</h1>
    </div>
    <div class="mjt-card-container">
        <div class="mjt-card"> 
            <div class="mjt-lines"></div>
            <div class="mjt-imgBx">
                <img src="{% static 'img/section2/design.png' %}" />
            </div>
            <div class="mjt-content-card">
                <div class="mjt-deatils-card">
                    <h2>Diseño</h2>
                    <p>
                        Diseño de front end, desde el flujo de navegación, así como la forma en que será desarrollado a nivel código.
                    </p>
                    <br>
                    <br>
                    <!--a href="#">Conocer Más</a-->
                </div>
            </div>
        </div>
        <div class="mjt-card"> 
            <div class="mjt-lines"></div>
            <div class="mjt-imgBx">
                <img src="{% static 'img/section2/dev.png' %}" />
            </div>
            <div class="mjt-content-card">
                <div class="mjt-deatils-card">
                    <h2>Desarrollo</h2>
                    <p>
                        Desarrollo de sistemas optimizando al máximo el código y mitigar riesgos el momento de subir al servidor.
                    </p>
                    <br>
                    <br>
                    <!--a href="#">Conocer Más</a-->
                </div>
            </div>
        </div>
        <div class="mjt-card"> 
            <div class="mjt-lines"></div>
            <div class="mjt-imgBx">
                <img src="{% static 'img/section2/rocket.png' %}" />
            </div>
            <div class="mjt-content-card">
                <div class="mjt-deatils-card">
                    <h2>Despliegue</h2>
                    <p>
                        Despliegue de proyectos en el servidor donde vivirá la aplicación, esto desde linea de comandos con git.
                    </p>
                    <br>
                    <!--a href="#">Conocer Más</a-->
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    
</style>