{% load static %}
<section class="section" style="position:relative;">
    <div class="mjt-title-section">
        <h1 class="text-danger" style="z-index:1;">Skills</h1>
    </div>
    <div class="mjt-card-container">
        <div class="mjt-card"> 
            <div class="mjt-lines"></div>
            <div class="mjt-imgBx">
                <img src="{% static 'img/section2/design.png' %}" />
            </div>
            <div class="mjt-content-card">
                <div class="mjt-deatils-card">
                    <h2>Design</h2>
                    <p>
                        Design front end, from navigation flow, as well as the design of the code to optimize as much as possible

                    </p>
                    <br>
                    <br>
                    {% comment %} <!--a href="#">Conocer Más</a--> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="mjt-card"> 
            <div class="mjt-lines"></div>
            <div class="mjt-imgBx">
                <img src="{% static 'img/section2/dev.png' %}" />
            </div>
            <div class="mjt-content-card">
                <div class="mjt-deatils-card">
                    <h2>Development</h2>
                    <p>
                        System Development optimizing the code as much as possible and mitigating risks.
                    </p>
                    <br>
                    <br>
                    {% comment %} <!--a href="#">Conocer Más</a--> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="mjt-card"> 
            <div class="mjt-lines"></div>
            <div class="mjt-imgBx">
                <img src="{% static 'img/section2/rocket.png' %}" />
            </div>
            <div class="mjt-content-card">
                <div class="mjt-deatils-card">
                    <h2>Deploy</h2>
                    <p>
                        Deployment of projects on the server where the application will live, this from the command line with pip or npm.
                    </p>
                    <br>
                    {% comment %} <!--a href="#">Conocer Más</a--> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</section>
